*{
    font-weight: 500;
}
body {
}

.container {
    max-width: 500px;
        width: 100%;
    margin: 0 auto;
    padding: 20px;
}

li{
    list-style:circle;
}

footer{
    border-top: 1px solid #333;
    padding: 10px 0;
}